{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <header class="row bg-primary text-white py-3">
            <div class="col">
                <h1>{{ dept_name }}</h1>
            </div>
        </header>

        <main class="row mt-4">
            <div class="col-md-8">
                <h2>About {{ dept_name }}</h2>
                <p>{{ about_text }}</p>
            </div>

            <div class="col-md-4">
                <h2>Contact Information</h2>
                <p>Website: <a href="{{ website_url }}">{{ website_url }}</a></p>
                <p>Email: <a href="mailto:{{ email }}">{{ email }}</a></p>

                <h2>Jobs at {{ dept_name }}</h2>
                {% if jobs %}
                <div class="card-body">            
                    <h5 class="card-title fw-bold">Job Title: {{ job['job_title'] }}</h5>
                    <p id="jobId" hidden>{{ id }}</p>
                </div>

                {% else %}
                    <p>No jobs currently posted.</p>
                {% endif %}
            </div>
        </main>
    </div>
{% endblock %}
