{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <header class="row text-white py-3" style="background-color: #2b4083">
            <div class="col">
                <h1 class="" style="color:white;">{{ dept_info['title'] }}</h1>
            </div>
        </header>

        <main class="row mt-4">
            <div class="col-md-8">
                <h2>About</h2>
                <p>{{ dept_info['descrip'] }}</p>
            </div>

            <div class="col-md-4">
                <h2>Contact Information</h2>
                <p>Website: <a href="{{ website_url }}">{{ website_url }}</a></p>
                <p>Email: <a href="mailto:{{ dept_info['email'] }}">{{ dept_info['email'] }}</a></p>
            </div>
        </main>

        <section class="row my-4">
            <div class="">
                <h2 class="text-center mb-3">Employment Openings</h2>
                {% if jobs %}
                    {% for job in jobs %}
                            {% set id = dept_info['id']|string %}
                            {% set descripID = "descrip" ~ id %}
                            <div class="card m-1 w-75 mx-auto" style="min-height: 125px;max-width: 100%;">
                            <div class="row g-0 h-100">
                                <div class="col-md-3">
                                <img src={{ job['img_path'] }} class="img-fluid rounded-start" alt="" style="height: 200px; width: 100%; object-fit: fill;"> <!-- Optional image-->
                                </div>
                            <div class="col-md-7">
                              <div class="card-body">                                          
                                <h5 class="card-title fw-bold">{{ job['job_title'] }}</h5>
                                <p id="jobId" hidden>{{ id }}</p>
                                <p class="card-text">Posted by: {{ job['first_n'] ~ ' ' ~ job['last_n'] }}</p>

                                <p class="card-text"><small class="text-body-secondary">Posted: {{ job['date_listed'].format() }}</small></p>
                              </div>          
                            </div>
                            <div class="col-md-2 flex-column d-flex">
                                <button class="btn btn-primary apply mt-5 m-2" data-bs-toggle="modal" data-bs-target="#apply-modal">Apply</button>   <!-- Button trigger modal -->
                                <button class="btn btn-secondary m-2" data-bs-toggle="collapse" data-bs-target="#{{ descripID }}" aria-expanded="false">See More</button>
                          </div>
                          <div class="row">
                            <div class="collapse multi-collapse" id="{{ descripID }}">
                              <p class="card-text">{{ job['job_descrip'] }}</p>
                            </div>
                          </div>            
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No jobs currently posted.</p>
                {% endif %}

            </div>
        </section>
    </div>
{% endblock %}
