{% extends "base.html" %}

{% block content %}
  {# <form class="d-flex">
      <input type="text" class="form-control" placeholder="Search Jobs" style="width: 350px; margin-right: 5px;">
      <button type="submit" class="btn btn-primary" style="margin-right: 15px;"> Search</button>
  </form> #}
  <!-- This loops through the jobs and creates the following html for each job-->
  <div class="container">
    <h3>Jobs</h3>
    <hr>
    <div class="card-deck overflow-y-auto h-50">
      {% for job in jobs %} 

        {% set id = job['job_id']|string %}
        {% set descripID = "descrip" ~ id %}
        <div class="card m-1 w-75 mx-auto" style="min-height: 125px;max-width: 100%;">
          <div class="row g-0 h-100">
            <div class="col-md-3">
              <img src="{{ job['img_path'] }}" class="img-fluid rounded-start" alt="" style="height: 200px; width: 100%; object-fit: fill;"> <!-- Optional image-->
            </div>
            <div class="col-md-7">
              <div class="card-body">            
                <h5 class="card-title fw-bold">Job Title: {{ job['job_title'] }}</h5>
                <p id="jobId" hidden>{{ id }}</p>
                <p class="card-text">Posted by: {{ job['first_n'] }}</p>
                {% if job['dept_title'] != None %}
                  <p class="card-text">Department: {{ job['dept_title'] }}</p>              
                {% endif %}
              
                <p class="card-text"><small class="text-body-secondary">Posted: {{ job['date_listed'].format() }}</small></p>


              </div>          
            </div>
            <div class="col-md-2 flex-column d-flex">
            <button class="btn btn-primary apply mt-5 m-2" data-bs-toggle="modal" data-bs-target="#apply-modal">Apply</button>   <!-- Button trigger modal -->
            <button class="btn btn-secondary m-2" data-bs-toggle="collapse" data-bs-target="#{{ descripID }}" aria-expanded="false">See More</button>
          </div>
          <div class="row">
            <div class="collapse multi-collapse" id="{{ descripID }}">
              <p class="card-text">{{ job['job_descrip'] }}</p>
            </div>
          </div>            
        </div>
      </div>    
    {% endfor %}
  </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="apply-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="jobTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="jobTitle"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">          
          <p id="description" class="card-text"></p>
          <p class="card-text"><small id="date_listed" class="text-body-secondary"></small></p>          
          <button id="apply" class="btn btn-primary">Apply</button>
        </div>

      </div>
    </div>
  </div>
  

{% endblock %}

{% block script %}
<script>
  
  // document.querySelectorAll('.expand').forEach((btn) => {
  //   btn.addEventListener('click', (event) => {
  //     let card = event.target.parentElement.parentElement.parentElement;
  //     card.classList.toggle('expanded');
  //     let hiddenText = card.querySelector('.hidden-text');
  //     hiddenText.style.display = hiddenText.style.display === 'none' ? 'block' : 'none';
  //   });
  // });

  //Modal vars

  let jobId;
  let titleEle; 
  let descripEle;
  let dateListedEle;

  //Job Modal Event
  document.querySelectorAll('.btn.learnMore').forEach((btn) => {
    
    //Activate Job Modal
    btn.addEventListener('click', (event) => {

      jobId = event.target.parentElement.querySelector('#jobId').innerText

      titleEle = document.getElementById('jobTitle');
      descripEle = document.getElementById('description');
      dateListedEle = document.getElementById('date_listed');

      const req = new XMLHttpRequest();

      //populate the modal with the selected job info
      req.addEventListener("load", () => {
        let res = req.response;
        titleEle.innerText = res['title'];
        descripEle.innerText = res['descrip'];
        dateListedEle.innerText = res['date_listed'];

      });
      req.open("GET", "jobs/" + jobId);
      req.responseType = "json";
      req.send();

      //title = document.getElementById('staticBackdropLabel');
      //title.innerText = null
    });
  });
  //Apply
  document.querySelector('.apply').forEach((btn) => {
    btn.addEventListener('click', (event) => {
      const req = new XMLHttpRequest();

      req.addEventListener("load", () => {
        let res = req.response;

      });
      req.open('GET', 'jobs/' + jobId + '/apply');
      req.responseType = 'json';
      req.send();
    });
  });
</script>
{% endblock %}