{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Create Job</h2>
    <form action="./create_job" method="POST">
        <label for="title">Job Titie: </label>
        <input type="text" id="title" name="title">
        <br>
        <label for="descrip">Description: </label>
        <input type="text" id="descrip" name="descrip">
        <br>
        <label for="image">Image: </label>
        <input type="file" accept="image/png, image/jpeg">
        <br>
    </form>
</div>

{# Current Jobs #}
<div class="container">
    {% if jobs %}
        <div class="card-deck overflow-y-auto m-auto" style="display:block;min-height:300px;max-height:600px;">
            {% for job in jobs %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">{{ job['title'] }}</p>
                        <p class='jobId' hidden>{{ job['job_id'] }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}

