{% extends 'base.html' %}

{% block style%}
<style>
  #resume {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  #transcript {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
  }
</style>
{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="avatar me-3">
          <img src="{{ session['avatar_img_path'] }}" alt="{{ session['first_n'] }}" class="rounded-circle"
            style="width: 64px; height: 64px;">
        </div>
        <div>
          <h5 class="card-title">{{ session['first_n'] + ' ' + session['last_n'] }}</h5>
          <p class="card-text">
            {# Following: {{ }} users<br> #}
            {# Followed by: {{ user.followers|length }} users #}
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <form action="./update_email" method="POST">
          <div class="col-sm-4">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" value={{ session['email'] }}>
          </div>
          <br>
          <button role="submit" class="btn btn-primary">Update Email</button>
        </form>
      </div>
      <hr>
      <div>
        <p class="text-muted">Password must contain at least one non-alpha character!</p>
        <form action="./update_password" method="POST">
          <div class="col-sm-4">
            <label for="password">New Password</label>
            <input type="password" name="password" id="password">
          </div>
          <div class="col-sm-4">
            <label for="rePassword">Retype Password</label>
            <input type="password" name="rePassword" id="rePassword">
          </div>
          <br>
          <button role="button" type="submit" class="btn btn-primary">Update Password</button>
        </form>
      </div>
      {% if session['perm_lvl'] ==  1%}
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <p class="mb-0">Saved Jobs:</p>
          {# <h5>{{ user.votes }}</h5> #}
        </div>
      </div>
      <hr>
      <div class="container">
        <h5>Transcript: <span class="h6">{{ session['transcript'] }}</span></h5>
        <div class="d-flex">
          <form action="./upload_transcript" method="POST" id="transcript_form" enctype="multipart/form-data" class="me-2">
            <label role="button" for="transcript" class="btn btn-primary">Upload Transcript</label>
            <input class="" type="file" id="transcript" name="transcript" accept=".txt, .pdf" placeholder="" />
          </form>
          {% set transcript = 'user_files/' ~ session['transcript'] %}
          <a role="button" class="btn btn-secondary" href={{ url_for('static', filename=transcript ) }} download={{
          session['transcript'] }}>Download Transcript</a>
        </div>


        <br>
        <h5>Resume: <span class="h6">{{session['resume']}}</span></h5>
        <div class="d-flex">
          <form action="./upload_resume" method="POST" id="resume_form" enctype="multipart/form-data" class="me-2">
            <label role="button" for="resume" class="btn btn-primary">Upload Resume</label>
            <input type="file" id="resume" name="resume" accept=".txt, .pdf" />
          </form>
          {% set resume = 'user_files/' ~ session['resume'] %}
          <a role="button" class="btn btn-secondary me-2" href={{ url_for('static', filename=resume ) }} download={{ session['resume'] }}>Download Resume</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  let u_transcript = document.getElementById('transcript');
  let u_resume = document.getElementById('resume');
  let t_form = document.getElementById('transcript_form');
  let r_form = document.getElementById('resume_form');

  u_transcript.addEventListener('change', () => {
    t_form.submit();
  });

  u_resume.addEventListener('change', () => {
    r_form.submit();
  });

</script>
{% endblock %}