{% extends "base.html" %}

{% block content %}
<section class="vh-100" style="background-color: #2779e2;">
  <div class="container h-100">
    <form action="./register" method="POST">

    </form>

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">

        <h1 class="text-white mb-4">Create Account</h1>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">First Name</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="text" class="form-control form-control-lg" />

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Last Name</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="text" class="form-control form-control-lg"  />

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Email Address</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="email" class="form-control form-control-lg" placeholder="example@UWEC.edu" />

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Cover Letter</h6>

              </div>
              <div class="col-md-9 pe-5">

                <textarea class="form-control" rows="1" placeholder="Create a general Cover Letter, which can be used when applying"></textarea>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Upload Resume</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input class="form-control form-control-lg" id="resume" type="file" />
                <div class="small text-muted mt-2">Upload your Resume</div>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Upload Transcript</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input class="form-control form-control-lg" id="transcript" type="file" />
                <div class="small text-muted mt-2">Upload your Transcript</div>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="px-5 py-4">
              <button type="submit" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Confirm</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Have you entered all of your info properly?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="register" type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
let reg_btn = document.getElementById('register');
reg_btn.addEventListener('click', (event) => {
  location.href = ''
});
</script>
{% endblock %}